@mixin vertical-align($height, $line-height: 2rem) {
  height: $height;
  line-height: $line-height;

  $padding: ($height - $line-height) / 2;
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin container($container-padding) {
  padding-left: $container-padding;
  padding-right: $container-padding;
  width: 100%;
}
