<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146772217-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-146772217-4');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#4fc08d">
    <% _.forEach(metas, function(value, key) { %><meta property="<%- key %>" content="<%- value %>"><% }); %>
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="https://kit.fontawesome.com/daeb3c980b.js" crossorigin="anonymous"></script>
    <title>Vuegular</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
